In [2]:
#import dependencies & setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pathlib import Path
%matplotlib inline

In [3]:
# Load CSV files
may_2023_data_to_load = Path("Resources/JC-202305-citibike-tripdata.csv")
june_2023_data_to_load = Path("Resources/JC-202306-citibike-tripdata.csv")
july_2023_data_to_load = Path("Resources/JC-202307-citibike-tripdata.csv")

# read CSV
data_may_2023 = pd.read_csv(may_2023_data_to_load)
data_june_2023 = pd.read_csv(june_2023_data_to_load)
data_july_2023 = pd.read_csv(july_2023_data_to_load)


# convert to pandas df
citibike_may_2023_df = pd.DataFrame(data_may_2023)
citibike_june_2023_df = pd.DataFrame(data_june_2023)
citibike_july_2023_df = pd.DataFrame(data_july_2023)

In [4]:
# Visualize the dataframes

# MAY DATA
citibike_may_2023_df.head()

,ride_id,rideable_type,started_at,day_started,ended_at,day_ended,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BC145343639B5E5B,classic_bike,5/31/2023 12:27,Wednesday,5/31/2023 12:38,Wednesday,Pershing Field,JC024,Newport PATH,JC066,40.742675,-74.051806,40.727224,-74.033759,member
1,A0CE41F47514FF5C,classic_bike,5/1/2023 18:12,Monday,5/1/2023 18:29,Monday,Pershing Field,JC024,Baldwin at Montgomery,JC020,40.742638,-74.051815,40.723659,-74.064194,casual
2,D588077E3D7E2AFD,electric_bike,5/28/2023 17:37,Sunday,5/28/2023 18:39,Sunday,Pershing Field,JC024,Pershing Field,JC024,40.742677,-74.051789,40.742677,-74.051789,casual
3,89AC48A5584B2DB4,classic_bike,5/27/2023 21:01,Saturday,5/27/2023 21:13,Saturday,Pershing Field,JC024,Manila & 1st,JC082,40.742677,-74.051789,40.721651,-74.042884,member
4,709E0B11AB4A0E6C,classic_bike,5/22/2023 12:38,Monday,5/22/2023 13:02,Monday,Pershing Field,JC024,Jersey & 3rd,JC074,40.742677,-74.051789,40.723332,-74.045953,member

In [5]:
# JUNE
citibike_june_2023_df.head()

,ride_id,rideable_type,started_at,day_started,ended_at,day_ended,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,37BE5FCB1A385CDA,classic_bike,6/27/2023 16:06,Tuesday,6/27/2023 16:10,Tuesday,Hilltop,JC019,Christ Hospital,JC034,40.731115,-74.057468,40.734786,-74.050444,casual
1,9C96B4C6CBBB31AD,classic_bike,6/24/2023 10:46,Saturday,6/24/2023 10:55,Saturday,Baldwin at Montgomery,JC020,Hamilton Park,JC009,40.723473,-74.064338,40.727596,-74.044247,member
2,C91293605D4BEC07,electric_bike,6/4/2023 20:30,Sunday,6/4/2023 20:34,Sunday,Hilltop,JC019,Brunswick St,JC023,40.731169,-74.057574,40.724176,-74.050656,member
3,2920063442116A46,classic_bike,6/8/2023 19:10,Thursday,6/8/2023 19:13,Thursday,Baldwin at Montgomery,JC020,Astor Place,JC077,40.723499,-74.064335,40.719282,-74.071262,member
4,E205FD8C18BA263A,classic_bike,6/23/2023 18:53,Friday,6/23/2023 19:17,Friday,Baldwin at Montgomery,JC020,Adams St & 11 St,HB507,40.723511,-74.064277,40.750916,-74.033541,member

In [6]:
# JULY DATA
citibike_july_2023_df.head()

,ride_id,rideable_type,started_at,day_started,ended_at,day_ended,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7A68381621C25F78,classic_bike,7/17/2023 17:16,Monday,7/17/2023 17:20,Monday,Astor Place,JC077,Communipaw & Berry Lane,JC084,40.719225,-74.071281,40.714358,-74.066611,member
1,0F814CA67B2FA120,classic_bike,7/26/2023 19:40,Wednesday,7/26/2023 19:44,Wednesday,Adams St & 2 St,HB407,9 St HBLR - Jackson St & 8 St,HB305,40.739727,-74.036866,40.747907,-74.038412,member
2,775A38967EBF5FB4,electric_bike,7/1/2023 12:12,Saturday,7/1/2023 12:27,Saturday,McGinley Square,JC055,Riverview Park,JC057,40.725340,-74.067622,40.744319,-74.043991,member
3,D93B742DCE1C1447,classic_bike,7/20/2023 19:10,Thursday,7/20/2023 19:17,Thursday,Baldwin at Montgomery,JC020,Brunswick St,JC023,40.723455,-74.064359,40.724176,-74.050656,member
4,AA7A6863B4B92169,electric_bike,7/7/2023 19:33,Friday,7/7/2023 19:58,Friday,Baldwin at Montgomery,JC020,Mama Johnson Field - 4 St & Jackson St,HB404,40.723659,-74.064194,40.743140,-74.040041,casual

## Exploratory Analysis
Find two unexpected phenomena, and design 2-5 visualizations for each phenomena (4-10 total).

In [8]:
# 1. How many trips have been recorded during the chosen period(s)?

# May 
may_trips = citibike_may_2023_df['ride_id'].nunique()
print(f'There were a total of {may_trips} Citi Bike trips recorded during May 2023.')

# June
june_trips = citibike_june_2023_df['ride_id'].nunique()
print(f'There were a total of {june_trips} Citi Bike trips recorded during June 2023.')

# July
july_trips = citibike_july_2023_df['ride_id'].nunique()
print(f'There were a total of {july_trips} Citi Bike trips recorded during July 2023.')

There were a total of 96002 Citi Bike trips recorded during May 2023.
There were a total of 97023 Citi Bike trips recorded during June 2023.
There were a total of 106608 Citi Bike trips recorded during July 2023.

In [9]:
# Concatenate/merge all three dfs into one master
frames = [citibike_may_2023_df, citibike_june_2023_df, citibike_july_2023_df]

result = pd.concat(frames)
result.head()

,ride_id,rideable_type,started_at,day_started,ended_at,day_ended,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BC145343639B5E5B,classic_bike,5/31/2023 12:27,Wednesday,5/31/2023 12:38,Wednesday,Pershing Field,JC024,Newport PATH,JC066,40.742675,-74.051806,40.727224,-74.033759,member
1,A0CE41F47514FF5C,classic_bike,5/1/2023 18:12,Monday,5/1/2023 18:29,Monday,Pershing Field,JC024,Baldwin at Montgomery,JC020,40.742638,-74.051815,40.723659,-74.064194,casual
2,D588077E3D7E2AFD,electric_bike,5/28/2023 17:37,Sunday,5/28/2023 18:39,Sunday,Pershing Field,JC024,Pershing Field,JC024,40.742677,-74.051789,40.742677,-74.051789,casual
3,89AC48A5584B2DB4,classic_bike,5/27/2023 21:01,Saturday,5/27/2023 21:13,Saturday,Pershing Field,JC024,Manila & 1st,JC082,40.742677,-74.051789,40.721651,-74.042884,member
4,709E0B11AB4A0E6C,classic_bike,5/22/2023 12:38,Monday,5/22/2023 13:02,Monday,Pershing Field,JC024,Jersey & 3rd,JC074,40.742677,-74.051789,40.723332,-74.045953,member

In [ ]:
# save as new CSV
result.to_csv('Resources/CitiBike_data_2023.csv')